* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #333;
  color: whitesmoke;
}

body {
  min-height: 100vh;
  font-size: 2rem;
  padding: 0 10% 10%;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

.app-container {
  max-width: 50rem;
  margin: auto;
}

.addpost-container,
.posts-container {
  margin: 2rem auto 1rem;
}
.posts-infos {
  font-size: 1.2rem;
}

article {
  margin: 0.5em 0.5em 0.5em 0;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  padding: 1em;
}

h1 {
  font-size: 3.5rem;
  margin-top: 2rem;
  border: 1px solid whitesmoke;
  padding: 1rem;
}
h2 {
  margin-bottom: 1rem;
  border-bottom: 1px solid whitesmoke;
  display: inline-block;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.4rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

.btn-emoji {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1.4rem;
}
